.container {
  width: 100%;
  height: 100%;
}

.mat-grid-list {
  height: 100%;
  width: 100%;

  .mat-grid-tile {
    border: black solid 1px;
  }
}

.mat-card {
  &.detail {
    background-color: white;
    color: black;
    margin-bottom: 20px;
  }
}

.highlight {
  color: #00b7ff;
}
